.modal-display {
  background-color: white;
  position: absolute;
  align: center;
  top: 32%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.elements {
  margin: -40px 10px 2px 8px;
}

.banner {
  max-width: 470px;
  min-width: 470px;
  min-height: 40px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.avatar {
  border: 2px solid white;
  border-radius: 6px;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 470px;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
  & span {
    margin: .25em 0;
  }
}

.user-name-location {
  margin-left: 0px;
  text-align: left;
}

.name{
  margin-top: 50px;
}

.screen-name {
  margin-top: -18px;
}

.location {
  margin-top: -18px;
}

.stats {
  margin: 0px 0 -3px -3px;
  text-align: center;
}

.stats-title {
  font-size: 11px;
  color: #8d9daa;
  }

.stats-figures {
  color: #007baf;
  margin-top: -8px;
}

.description {
  text-align: left;
  font-size: 12px;
  max-width: 440px;
  margin: 0 0 16px 10px;
}
