.TweetAuthor {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
}

.TweetAuthor__avatar {
  position: absolute;
  left: 0;
  width: 36px;
  height: 36px;
  overflow: hidden;
  background: white;
  border-radius: 3px;
}

.TweetAuthor img {
  width: 100%;
}

.TweetAuthor__name_container {
  position: absolute;
  left: 50px;
}

.TweetAuthor__name {
  font-weight: bold;
  margin-top: -0px;
}

.TweetAuthor__screen_name {
  display: inline-block;
  font-size: 1em;
  color: grey;
  margin-top: -15px;
}
