.Tweet {
  border: 1px solid #CCC;
  border-radius: 6px;
  background: white;
  padding: 20px;
  margin: 15px;
  text-align: left;
}

.Tweet__header {
  position: relative;
}

.Tweet_image {
  border-radius: 5px;
  /*width: 95%;*/
  float: right;
  clear: left;
  margin-bottom: 5px;
}

.Tweet_text {
  clear:both;
  margin-left: 20px;
}
