.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.search-results {
  width: 500px;
  margin: 0 auto;
}

.search-results .placeholder {
  font-style: italic;
  color: grey;
}

@media (max-width: 500px) {
  .search-results {
    width: 100%;
  }
}
